<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Crabiz </title>
    <link rel="stylesheet" href="../static/chat.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
<div class="chat-container">
    <div class="chat-header">
        🎀 Hello chat🎀
    </div>

    <div class="mensagens" id="chat-container">
        <!-- Messages will be added here -->
        <p> oi amorecos </p>
    </div>

    <div class="message-input">
        <select name="usuario" id="usuario" onchange="mostraMensagens()">
            <option value="telefone">Nome</option>
        </select>
        <input type="text" id="message-input" placeholder="Escreva sua mensagem aqui...">
        <button onclick="enviarMensagem()">Enviar</button>
    </div>
</div>

    <script type="text/javascript">
        function mostraUsuarios(){
            // requisição via ajax
            $.ajax({
                url:"/get/usuarios",
                type:"GET",
                success: function(contatos){
                    for(let i=0; i<contatos.length; i++){
                        let tag = '<option value="'+contatos[i]['telefone']+'">'+contatos[i]['nome']+'</option>'
                        $("#usuario").append(tag)
                    }
                }
            })
        }

        $(document).ready(mostraUsuarios())

    </script>

    <script type="text/javascript">
        function mostraMensagens(){
            // requisição via ajax
            $.ajax({
                url:"/get/mensagens/" + $("#usuario").val(),
                type:"GET",
                success: function(mensagens){
                    // limpa a div que armazena as mensagens
                    $("#chat-container").empty()
                    for(let i=0; i<mensagens.length; i++){
                        tag = "<p>"+mensagens[i]['mensagem']+"</p>"
                        $("#chat-container").append(tag)
                    }
                }
            })
        }

        setInterval(mostraMensagens, 5000);

    </script>

    <script>
        function enviarMensagem() {
            var dados = {
                destinatario: $("#usuario").val(),
                mensagem: $("#message-input").val() // Corrigido para acessar o valor do campo de mensagem corretamente
            };

            $.ajax({
                url: "/post/enviarMSG",
                type: "POST",
                data: JSON.stringify(dados),
                contentType: "application/json",
                success: function() {
                    // Ação de sucesso
                    alert("Mensagem enviada com sucesso");
                },
                error: function() {
                    // Ação de erro
                    alert("Erro ao enviar mensagem");
                }
            });
        }
    </script>


</body>
</html>